@import "../../../Base/Global.scss";
@import "../../../Base/Colour.scss";

@media all and (max-width: #{($mq-sm1 - 1) + "px"}) {
  .other-01 {
  }
}

/* Common sm1, sm2 tablet */
@media all and (min-width: #{($mq-sm1) + "px"}) and (max-width: #{($mq-md - 1) + "px"}) {
  .other-01 {
  }
}

@media all and (min-width: #{$mq-md + "px"}) {
  .other-01 {
    text-align: center;
    margin-bottom: 64px;
    h3 {
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 64px;
      /* identical to box height, or 133% */


      /* Black */

      color: #000000;
    }
    p {
        padding: 0 240px;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      /* or 150% */


      /* Accent */

      color: #532c59;
    }
  }
}
